/* 
 * 97/08/30  K.Fujii	Original version.
 *
 */

/* Define Library Names */

KFLIBDIR   = $(KFLIBROOT)/lib
LCLIBDIR   = $(LCLIBROOT)/lib
CERNLIBDIR = $(CERN_ROOT)/lib

PHYLIBTT    = PHYLIBTT
PHYLIBTTNEW = PHYLIBTTNEW
POTQCD      = POTQCD
POTHIG      = POTHIG
HELASV204   = HELASV204

/* JLC Starndard Template */

#include "config/lclib.tmpl"

#ifdef CXXPACKAGE
# include "conf/makejsf.tmpl"

CXXFLAGS += -D__PYTHIA_VERSION__=5

/* ROOT Related Libraries */

# if defined(MacOSXArchitecture) || defined(DarwinArchitecture)
ROOTLIBS     += -lEGPythia -lEG $(CERNLIBS)
# else
ROOTLIBS     += -lEGPythia -lEG -Wl,-u,pytest_ $(CERNLIBS)
# endif
#endif


/* Analysis Related Fortran Libraries */

#if defined(MacOSXArchitecture) || defined(DarwinArchitecture)
LDFLAGS       = $(ANALLIB) -L/usr/local/lib -lg2c
ANALLIB	      = $(LDDIRFLAG)$(LCLIBDIR) -lFORTLIB -l$(HELASV204) $(EXTRALIBS)
#else
ANALLIB       = $(LDDIRFLAG)$(LCLIBDIR) -lGENUTIL -lLUHADR -lTAUOLA \
                -lSIMJLC -lLTKCL -lLCFULL -lTBS \
                -l$(HELASV204) -lFORTLIB -lCOM -lCLI $(EXTRALIBS)
#endif

/* Tentative Architecture Dependent Treatments */

#if defined(HPArchitecture)
	LDDIRFLAG = -Wl,-L
	EXTRALIBS = 
	CERNLIBS = -Wl,$(PYTHIA_LIB) $(LDDIRFLAG)$(CERN_ROOT)/lib -lmathlib -lpacklib
#else
	LDDIRFLAG = -L
	EXTRALIBS = 
	CERNLIBS = $(PYTHIA_LIB) $(LDDIRFLAG)$(CERN_ROOT)/lib -lmathlib -lpacklib

# if defined(MacOSXArchitecture) || defined(DarwinArchitecture)
	/* SOFLAGS += -install_name $(SONAME) */

#  ifdef InstallSharedLibrary
#  undef InstallSharedLibrary
#  endif
#  define InstallSharedLibrary(libname,rev,dest)                        @@\
install:: Concat(lib,libname.so.rev)                                    @@\
	MakeDir($(DESTDIR)dest)                                         @@\
	$(INSTALL) $(INSTALLFLAGS) $(INSTBINFLAGS) Concat(lib,libname.so.rev) $(DESTDIR)dest @@\
	@T=`echo Concat($(DESTDIR)dest/lib,libname.so.rev) | sed 's/\.[^\.]*$$//'`;\
	set -x; $(RM) $$T && $(LN) Concat(lib,libname.so.rev) $$T     @@\
	@if $(SOSYMLINK) ; then (set -x; \
	$(RM) Concat($(DESTDIR)dest/lib,libname.so); \                @@\
	$(LN) Concat(lib,libname.so.rev) Concat($(DESTDIR)dest/lib,libname.so)); fi
# else
	SOFLAGS += -Wl,-soname,$(SONAME)
# endif
#endif

#if defined(LinuxArchitecture) 

# ifdef InstallSharedLibrary
# undef InstallSharedLibrary
# endif
# define InstallSharedLibrary(libname,rev,dest)                        @@\
install:: Concat(lib,libname.so.rev)                                    @@\
	MakeDir($(DESTDIR)dest)                                         @@\
	$(INSTALL) $(INSTALLFLAGS) $(INSTBINFLAGS) Concat(lib,libname.so.rev) $(DESTDIR)dest @@\
	@T=`echo Concat($(DESTDIR)dest/lib,libname.so.rev) | sed 's/\.[^\.]*$$//'`;\
	set -x; $(RM) $$T && $(LN) Concat(lib,libname.so.rev) $$T     @@\
	@if [ $(SOSYMLINK) ] ; then (set -x; \
	$(RM) Concat($(DESTDIR)dest/lib,libname.so); \                @@\
	$(LN) Concat(lib,libname.so.rev) Concat($(DESTDIR)dest/lib,libname.so)); fi
#endif
